.breadcrumbs {
    background: #3F3F3F;
    padding: 0.2%;
}

.breadcrumbs_list {
    list-style-type: none;
}

.breadcrumbs_list_items {
    display: inline;
}

.breadcrumbs_links {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-family: cursive;
}

.sub_headers {
    background: #3F3F3F;
    margin-left: 7.7%;
    padding: 0.2%;
   
}

.sub_headers_title {
    margin-left: 1.5%;
    color: white;
    font-size: normal;
    font-family: cursive;
}
.breadcrumbs_browser {
    background: #C4C4C4;
    border-radius: 30px;
    text-align: center;
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
}
