
.create_user_content {
    float: left;
    margin-left: 2%;
    text-align: center;
    margin-top: 1%;
}


.create_user_img {
    width: 95%;
}


.add_user_img_btn {
    margin-top: 1%;
    width: 60%;
    border-radius: 5px;
    border: none;
    background-color: #066397;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1.5% 2% 1.7% 2%;
    font-size: 15px;
}

.change_image {
    width: 12%;
    margin-right: 10%;
}



.create_user_form {
    text-align: center;
    width: 50%;
    padding-bottom: 3%;
    float: left;
    margin-top: 1%;
    padding-left: 1%;
}

.create_user_form_table {
    width: 100%;
}
.row_contact {
    width: 100%;
}

.label_users_form {
    width: 0%;

}
.label_users_form label {
    margin-top: 10%;
    padding: 5% 1%;
    float: right;
}

.input_text_users_form {
    width: 100%;
    float: left;
    background: #DEF1FF;
    padding: 1%;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.2), 0px 4px 8px rgba(90, 91, 106, 0.2);
    margin-top: 2%;
}


.input_text_pwd_users_form {
    width: 30%;
    float: left;
    background: #DEF1FF;
    padding: 1%;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(58, 58, 68, 0.2), 0px 4px 8px rgba(90, 91, 106, 0.2);
    margin-top: 2%;
}

.button_load_user {
    margin-top: 1%;
    width: 21%;
    border-radius: 10px;
    border: none;
    background-color: #008CF2;
    color: #FFFFFF;
    font-size: medium;
    text-transform: uppercase;
    padding: 1% 0% 0.7% 1.5%;
}

.load_user_img {
    float: left;
    margin-left: 2%;
    width: 9.5%;
    margin-right: 2%;
}
