.footers {
    padding: 0.1%;
    background: #3F3F3F;
    position: relative;
    clear:both;
}


/* Text: Septiembre 2021 Unidad Editorial Información Deportiva, S.L.U. Todos los derechos reservados. */
.rights_text {
    height: 10%;
    top:0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 87,5%;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: 4,69%;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* Text: Términos y condiciones de uso Política de privacidad Política de cookies Ayuda Nuestro equipo */
.terms_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 85%;
    line-height: 81,25%;
    align-items: center;
    text-align: center;
    letter-spacing: 4,69%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social_network{
    text-align: center; 
}
