@media screen {

    
    .main_frame{
        width: 79%;
        height: 80%;
        left: 20%;
        top: 17%;
        margin-left: 9%;
        margin-right: 10.5%;
        margin-top: 4%;
        margin-bottom: 2%;
        padding-bottom: 10%;
    }

    .main_frame_sport_section{
        width: 79%;
        height: 80%;
        left: 20%;
        top: 17%;
        margin-left: 9%;
        margin-right: 10.5%;
        margin-top: 1%;
        margin-bottom: 2%;
        padding-bottom: 10%;
    }

    
    .aside_news{
        float: right;
        left: 54%;
        top: 17%;
        width: 35%;
        height: 62%;
    }


    .secondary_news{
        width:64%;
    }

    
    .main_new{ 
        width: 64%;
        top: 17%;
        padding-bottom: 2%;
    }

    
    .main_image{
        width: 48%;
        height: 85%;
        display: block;
        margin: auto;
    }

    
    #secondary_new_1{
        float: left;
        width: 50%;
    }

    #secondary_new_2{
        float: right;
        width: 50%;
    }

    
    .aside_images{
        width: 33%;
        display: block;
        margin: auto;
    }

    #secondary_image_1{
        width: 27%;
    }

    #secondary_image_2{
        width: 50%;
    }

    .secondary_images{
        display: block;
        margin: auto;
    }

    
    h1, h2, h3, h4{
        text-align: center;
    }
    
}
