/*----------------------------------------------------------Admin Panel-------------------------------------------------------------------*/

.sidebar_admin_panel {
    display: block;
    float: left;
    margin-left: -0.5%;
    background: #C2E2FA;
    padding-bottom: 15.6%;
    padding-right: 2%;
    padding-left: 1.5%;
}
/*
.sidebar_home_panel {
    display: block;
    float: left;
    // margin-top: 1%; 
    margin-left: -0.5%;
    background: #C2E2FA;
    padding-bottom: 26.5%;
    padding-right: 2%;
    padding-left: 2%;
}*/
.nav_list {
    list-style-type: none;
    padding: 2%;
}

.nav_items {
    padding: 10%;
}

.sidebar_logos {
    display: block;
    margin: auto;
}

.sidebar_links {
    text-decoration: none;
    color: #0F56B3;
    text-align: center;
    display: block;
    margin-top: 10%;
    font-family: cursive;
}

/*----------------------------------------------------------Writer Panel-----------------------------------------------------------------------------------------------*/
.sidebar_writer_panel {
    display: block;
    float: left;
    /*margin-top: 1%;*/
    margin-left: -0.5%;
    background: #C2E2FA;
    padding-bottom: 20.7%;
    padding-right: 2%;
    padding-left: 1.5%;
}

/*----------------------------------------------------------Home Panel-------------------------------------------------------------------------------------------------------*/
.sidebar_home_panel {
    display: block;
    float: left;
   /* margin-top: 1%;*/
    margin-left: -0.5%;
    background: #C2E2FA;
    padding-bottom: 26.5%;
    padding-right: 2%;
    padding-left: 2%;
}
/*---------------------------------------------------------- Panel extra versions-------------------------------------------------------------------------------------------------------*/
.sidebar_admin_panel_V2 {
    display: block;
    float: left;
    /*margin-top: 1%;*/
    margin-left: -0.5%;
    background: #C2E2FA;
    padding-bottom: 7%;
    padding-right: 1.3%;
    padding-left: 1.5%;
}

.sidebar_writer_panel_V2 {
    display: block;
    float: left;
    /*margin-top: 1%;*/
    margin-left: -0.5%;
    background: #C2E2FA;
    padding-bottom: 12.4%;
    padding-right: 1.3%;
    padding-left: 1.5%;
}